<div class="container">
<nav class="navbar navbar-fixed-top">
    <div class="">
      <a class="navbar-brand" routerLink="/">{{ title }}</a>
    </div>
    <div class="links">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <button class='button' type="button" class="btn btn-secondary nav-link"><a class="nav-link" routerLink="about">About</a></button>
        <button class='button' type="button" class="btn btn-secondary nav-link"><a class="nav-link" routerLink="/search">Search</a></button>
      </ul>
    </div>
</nav>
</div>
