html {
    background: url('../assets/1r5ued.jpg');
    background-attachment: fixed;
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-left: -1em;
}