.stars {
    background: url('../assets/astronomy-constellation-dark-1341279.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
}
