<div class='searchField'>
  <h3>Search for People, Starships or Films from the Star Wars Universe</h3>
  <form [formGroup]="form" (ngSubmit)='submit()'>
    <select class='dropdown'
      formControlName='terms' required>
      <option value='people' routerLink='people'>People</option>
      <option value='starships'>Starships</option>
      <option value='films'>Films</option>
    </select>
    <input matInput class='input' type='search' formControlName='getStuff' />
    <button class='submit' type='submit'>Search</button>
    <button class="close" type="reset"><a class="link" routerLink="">Close</a></button>
  </form>
</div>

<div *ngIf="results">
  <app-display-ship [data]="results[0]"></app-display-ship>
</div>

<div *ngIf='results'>
  <app-display-people [data]='results[0]'></app-display-people>
</div>

<div *ngIf='results'>
  <app-display-film [data]='results[0]'></app-display-film>
</div>